.card-close-container {
  display: flex;
  align-self: flex-end;
  border-style: none;
  margin-right: 69px;
}

.card-close-button {
  border-style: none;
  background: none;
}

.book-container {
  box-shadow: 5px 5px 20px #333;
}