.collection-search-form {
  width: 15vw;
  border-radius: 5px;
  border-style: none;
  height: 5vh;
  margin: 5px;
}

.text-container {
  margin: auto;
  background-color: $fourth;
}

.bookshelves-buttons {
  background-color: $tertiary;
  color: $fifth;
}

.delete-button {
  height: 37px;
  margin-top: 7px;
}

.single-book-view {
  color: $tertiary;
}

.book-detail-image {
  width: 13em;
  margin: auto;
  margin-top: 17vh;
}

.book-details-info {
  font-size: 20px;
  margin: auto;
  margin-top: 10vh;
}

.search-container {
  background-color: $fourth;
}

.found-books {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-h2 {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: 35vw;
}